# Editors
.ropeproject/
.spyproject/
.vscode/
.idea/
.~*
*~
.virtual_documents/
*journal
.$*
.lsp_symlink

# Linters
.mypy_cache/
.ruff_cache/

# Test
.coverage
.cache
.hypothesis
.pytest_cache/

# Python
*.pyc
*.swp
__pycache__
.ipynb_checkpoints/
*.egg-info/
build/
dist/

# Environment
.venv/

# data
output/
data/

# Temp files
temp/
junk*

# Experiments
pilot/
scratch/
old/
experiments/
