body, table {
  margin: 40px;
}

h1 > span {
  font-size: 20px;
  float: right;
  margin-right: 12px;
}

h2 {
  margin-left: 40px;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}

button.toggle {
  padding: 0 4px;
}

button.toggle:before {
  content: '\2013';
}

button.toggle.closed:before {
  content: '+';
}

table {
  border-collapse: collapse;
  border: 1px solid black;
}

tr {
  animation: fadein 1s;
}

tr.closed {
  animation: fadeout 1s;
  display: none;
}

th {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #f0f0f0;
}

td, th {
  border: 1px solid #f0f0f0;
  padding: 0.5rem;
  text-align: left;
}

.sub-header {
  background-color: #eeeeee;
  font-weight: 500;
}

.bold { font-weight: bold; }
.bold-italic { font-weight: bold; font-style: italic; }

.ccx { background: #772f5688; }
.bbx { background: #772f5688; }

.cc0 { background: #a0c5ed88; }
.cc1 { background: #6aa69888; }
.cc2 { background: #3f763788; }
.cc3 { background: #3c158688; }
.cc4 { background: #d4cf7888; }
.cc5 { background: #949b3988; }
.cc6 { background: #b76e7788; }
.cc7 { background: #99489788; }
.cc8 { background: #dcdcdc88; }

.bb0 { background: #a0c5ed88; }
.bb1 { background: #6aa69888; }
.bb2 { background: #3f763788; }
.bb3 { background: #3c158688; }
.bb4 { background: #d4cf7888; }
.bb5 { background: #949b3988; }
.bb6 { background: #b76e7788; }
.bb7 { background: #99489788; }
.bb8 { background: #dcdcdc88; }
