body, table {
  margin: 40px;
}

h1 > span {
  font-size: 20px;
  float: right;
  margin-right: 12px;
}

h2 {
  margin-left: 40px;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}

button.toggle {
  padding: 0 4px;
}

button.toggle:before {
  content: '\2013';
}

button.toggle.closed:before {
  content: '+';
}

table {
  border-collapse: collapse;
  border: 1px solid black;
}

tr {
  animation: fadein 1s;
}

tr.closed {
  animation: fadeout 1s;
  display: none;
}

th {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #f0f0f0;
}

td, th {
  border: 1px solid #f0f0f0;
  padding: 0.5rem;
  text-align: left;
}

.sub-header {
  background-color: #f2f2f2;
  font-weight: 500;
}

.small {
  font-size: small;
}

header div {
  font-size: 16px;
  width: 280px;
  margin-bottom: 4px;
}

header div label, section div label {
  text-align: right;
  display: inline-block;
  width: 200px;
}

header div span {
  float: right;
}

hr.sep {
  color: #fefefe;
  margin-right: 3rem;
}

td.data {
  border-bottom: 1px solid black;
}

section div span {
  margin-left: 2em;
}

.bold { font-weight: bold; }
.bold-italic { font-weight: bold; font-style: italic; }

.ccx { background: #e31a1c88; }
.bbx { background: #e31a1c88; }

.cc0 { background: #a6cee388; }
.cc1 { background: #1f78b488; }
.cc2 { background: #b2df8a88; }
.cc3 { background: #33a02c88; }
.cc4 { background: #fb9a9988; }
.cc5 { background: #fdbf6f88; }
.cc6 { background: #ff7f0088; }
.cc7 { background: #cab2d688; }
.cc8 { background: #6a3d9a88; }
.cc9 { background: #ffff9988; }
.cc10 { background: #b1592888; }
.cc11 { background: #dddddd88; }
.cc12 { background: #b3b3b388; }
.cc13 { background: #b3b30088; }
