<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<title>Traiter</title>
<style>
{% include 'html_writer.css' -%}
</style>
</head>
<body>
<h1>{{ file_name }}: {{ now }}</h1>
<h4>All sizes are given in centimeters.</h4>

<table>
  <thead>
    <tr>
      <th>
        <button class="toggle closed" title="Show or hide all extractions">
        </button>
      </th>
      <th colspan="2">Text</th>
    </tr>
  </thead>
  <tbody>
  {% for row in rows %}
    <tr>
      <td>
        <button class="toggle closed" title="Show or hide the extractions"
            data-text-id="{{ row.text_id }}">
        </button>
      </td>
      <td class="text" colspan="2">{{ row.formatted_text | safe }}</td>
    </tr>
    <tr class="term closed" data-text-id="{{ row.text_id }}">
      <td></td>
      <td class="sub-header">Trait Label</td>
      <td class="sub-header">Trait Data</td>
    </tr>
    {% for trait in row.formatted_traits %}
    <tr class="term closed" data-text-id="{{ row.text_id }}">
      <td></td>
      <td>{{ trait.label | safe }}</td>
      <td>{{ trait.data | safe }}</td>
    </tr>
    {% endfor %}
  {% endfor %}
  </tbody>
</table>

<script>
{% include 'mimosa_html_writer.js' -%}
</script>

<script>
{% include 'html_writer.js' -%}
</script>

</body>
</html>
