<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<title>Traiter</title>
<style>
{% include 'plant_templates/html_writer.css' -%}
</style>
</head>
<body>
<h1>Traiter <span>{{ now }}</span></h1>
<table>
  <thead>
    <tr>
      <th>
        <button class="toggle closed" title="Show or hide all extractions">
        </button>
      </th>
      <th>Family</th>
      <th>Taxon</th>
      <th>Text</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <td>
        <button class="toggle closed" title="Show or hide the extractions"
            data-taxon-id="{{ row.taxon_id }}">
        </button>
      </td>
      <td>
        {{ row.family.capitalize() }}
        {% if row.flora_name %}
          <hr/>
          <span class="smaller">({{ row.flora_name }})</span>
        {% endif %}
      </td>
      <td>
        <a href="{{ row.link }}"
            target="_blank" rel="noopener noreferrer">
          {{ row.taxon }}
        </a>
      </td>
      <td class="text">{{ row.formatted_text | safe }}</td>
    </tr>
    <tr class="term closed" data-taxon-id="{{ row.taxon_id }}">
      <td></td>
      <td></td>
      <td class="sub-header">Trait Label</td>
      <td class="sub-header">Trait Data</td>
    </tr>
      {% for trait in row.formatted_traits %}
      <tr class="term closed" data-taxon-id="{{ row.taxon_id }}">
        <td colspan="2"></td>
        <td>{{ trait.label | safe }}</td>
        <td>{{ trait.data | safe }}</td>
      </tr>
      {% endfor %}
    {% endfor %}
  </tbody>
</table>

<script>
{% include 'plant_templates/html_writer.js' -%}
</script>

<script>
{% include 'html_writer.js' -%}
</script>

</body>
</html>
