name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install .
        pip install git+https://github.com/rafelafrance/common_utils.git@main#egg=common_utils
        pip install git+https://github.com/rafelafrance/traiter.git@master#egg=traiter
        python -m spacy download en_core_web_md
    - name: Test with unittest
      run: |
        export MOCK_DATA=1; python -m unittest discover
